#ignore all pngs (so that graphic output of root code is ignored)
**/*.png
!results/data_results/cosp_fits/*.png

#ignore all txt files
**/*.txt
#expect the matrix files (used by the code) from the ignore of txt files
!results/matrix/*.txt
!results/data_results/*.txt

#ignore root files
**/*.root
!results/data_results/*.root
#ignore data folder
daten/

#ignore tex log files etc but except the actual tex files
tex/*
!tex/*.tex
#also except the graphics folder of commonly used graphics from above ignore
!tex/graphics/*

#ignore db files
**/*.db


